<section>
    <form>
      <h2>Usuários</h2>
      <input type="text" placeholder="Nome do usuário" [(ngModel)]="this.name" name="first">
      <button class="primary" type="button" (click)="adicionarUsuario() ">Adicionar</button>
    </form>
    <div *ngFor="let usuario of usuarios" class="usuario-itens">
      <div class="usuarios" [id]="usuario.nome">
        <p *ngIf="!estaEditando(usuario.nome)">{{usuario.nome}}</p>
        <form class="edit-form" *ngIf="estaEditando(usuario.nome)" (submit)="salvarEdicao(this.editingName)">
          <input type="text" [(ngModel)]="this.editingName" name="first">
          <button type="submit">Salvar</button>
        </form>
      <button class="edit-icon" (click)="editarUsuario(usuario.nome)">
        <i class="fas fa-edit"></i>
      </button>
      <button class="delete-icon" (click)="deleteUsuario(usuario)">
        <i class="fas fa-trash"></i>
      </button>
      </div>
    </div>
  </section>